# backend

backend/db.json
backend/node_modules
backend/aggregations_txt
backend/.env
backend/steamapi.js
backend/scripts

# frontend

frontend/src/api.js
frontend/src/endpoint.js

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
dependencias back.bat
dependencias front.bat
Visual Studio.bat
frontend/package.json
frontend/package.json
backend/serverip.js
MongoDBCompass.lnk
Compass Connectiong String.txt
Iniciar React.bat
