@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  src: url("../public/Inter-VariableFont_slnt,wght.ttf");
}

.dark {
  color-scheme: dark;
}

.italic {
  font-variation-settings: "slnt" -7;
  font-style: oblique 7deg;
}
