:root {
  --bg-color: #fbfbfb;
  --header-bg-color: #ff9800;
  --header-border-color: #ffc163;
  --normal-text-color: black;
  --table-header-bg-color: white;
  --table-odd-row-color: #f2f2f2;
  --table-even-row-color: white;
  --header-color: rgb(90, 90, 90);
  --table-border-color: #ddd;
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  --button-bg: #fdfdfd;
  --button-hover-bg: #f7f7f7;
  --button-border: lightgray;
  --footer-dashed: #ccc;
  --footer-color: rgb(196, 196, 196);
  --card-background: white;
  --logo-button-bg: #e28800;
  --react-table-button: rgba(0, 0, 0, 0.1);
  --react-table-button-hover: rgba(0, 0, 0, 0.2);
  --footer-hover: rgb(179, 179, 179);
  --pelota-filter: invert(0);
  color-scheme: light;
}

[data-theme="dark"] {
  --bg-color: #1b1b1b;
  --header-bg-color: #a56200;
  --header-border-color: #ff9800;
  --normal-text-color: rgb(230, 230, 230);
  --table-header-bg-color: rgb(110, 110, 110);
  --table-odd-row-color: #222222;
  --table-even-row-color: rgb(41, 41, 41);
  --header-color: rgb(180, 180, 180);
  --table-border-color: rgb(60, 60, 60);
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  --button-bg: rgb(40, 40, 40);
  --button-hover-bg: rgb(45, 45, 45);
  --button-border: rgb(65, 65, 65);
  --footer-dashed: rgb(56, 56, 56);
  --footer-color: rgb(68, 68, 68);
  --card-background: rgb(40, 40, 40);
  --logo-button-bg: #a56200;
  --react-table-button: rgba(255, 255, 255, 0.1);
  --react-table-button-hover: rgba(255, 255, 255, 0.2);
  --footer-hover: rgb(85, 85, 85);
  --pelota-filter: invert(1);
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dataTable th, td {
  padding: 5px;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
  column-gap: 0px;
  border: 1px solid var(--table-border-color);
  color: var(--normal-text-color);
  white-space: nowrap;
}

#eventslist td {
  vertical-align: top;
}

#eventslist li {
  padding: 2.5px;
}

h3 {
  color: var(--header-color);
}

h5 {
  margin-bottom: 10px;
}

.separator {
  border-right: var(--button-border);
}

.total, .t3 {
  margin-right: 25px;
}

.torSelect {
  display: block;
}

.matchEvent {
  height: 15px;
  padding-right: 2.5px;
}

#selector {
  background: var(--button-bg);
  border-radius: 7px;
  border: 1px solid var(--button-border);
  padding: 7.5px;
  box-shadow: var(--shadow);
  font-size: 12pt;
  margin-top: 15px;
  color: var(--normal-text-color);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
  padding: 10px 25px 15px 25px;
}

.cartel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 355px;
  align-items: center;
}

.cartel * {
  padding: 15px;
}

.campo {
  padding: 7.5px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--normal-text-color);
  border: solid 1px var(--button-border);
  box-shadow: var(--shadow);
}

#selector option {
  background: var(--button-bg);
  color: var(--normal-text-color);
}

@keyframes fade {
  from {background-color: var(--button-bg);}
  to {background-color: var(--button-hover-bg);}
}

.whitespace {
  max-width: 1080px;
  background-color: var(--card-background);
  box-shadow: var(--shadow);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 35px;
  border: 1px solid var(--table-border-color);
}

#header {
  margin-top: 40px;
  background: var(--header-bg-color);
  padding: 10px;
  padding-top: 25px;
  border-bottom: 2.5px solid var(--header-border-color);
}

#shortname {
  display: none;
}

.headerContent {
  max-width: 900px;
  margin: 0 auto;
}

#divMatchesTable {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  overflow-x: auto;
}

#matchesTable {
  table-layout: fixed;
  width: 100%;
}

.botonera {
  padding-top: 15px;
  display: block;
}

.boton {
  background: var(--button-bg);
  border-radius: 7px;
  border: solid 1px var(--button-border);
  margin-right: 10px;
  padding: 7.5px;
  box-shadow: var(--shadow);
  word-wrap: normal;
  cursor: pointer;
  font-size: 12pt;
  margin-bottom: 10px;
  color: var(--normal-text-color);
}

.boton:disabled {
  color: var(--header-color);
  cursor: unset;
  box-shadow: unset;
  pointer-events: none;
}

.t7, .t6, .t5, .t4, .t3, .t2, .t1, .t0 {
  display: none;
}

#resultsTable .rt-tr-group {
  cursor: 'pointer'
}

#minitablas {
  max-width: 280px;
}

.ReactTable .rt-td {
  text-align: center;
  font-size: 10pt;
}

.ReactTable .rt-th {
  font-size: 10pt;
  font-weight: bold;
}

.ReactTable .-pagination .-pageInfo {
  font-size: 11pt;
}

.ReactTable .-pagination .-next .-btn {
  font-size: 11pt;
}

.ReactTable .-pagination .-previous .-btn {
  font-size: 11pt;
}

.botonpresionado {
  background: var(--button-hover-bg);
  border-radius: 7px;
  border: solid 1px var(--button-border);
  margin-right: 10px;
  padding: 7.5px;
  font-size: 12pt;
}

.boton:hover, #selector:hover {
  animation-name: fade;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

#matchesTable td {
  vertical-align: middle;
  height: 30px;
}

#matchesTable tr {
  padding-top: 10px;
  background: var(--card-background);
  color: var(--normal-text-color);
}

#matchesTable a {
  display: block;
}

.teamlogo, .torneologo {
  display: flex;
  align-items: center;
}

.matchevent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.matchIcon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.sticky .header {
  position: sticky;
  z-index: 1;
  width: fit-content;
}

#nav-item:hover {
  animation-name: fade;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

#loader {
  padding-top: 50px;
  padding-bottom: 30px;
}

.boton:focus {
  outline: 0;
}

#matchesTable tr:hover {
  animation-name: fade;
  animation-duration: 200ms;
  animation-fill-mode: both;
}

#table-nav {
  border-collapse: collapse;
  max-width: 900px;
  float: left;
  margin: 0 auto;
}

.divDataTable {
  box-shadow: var(--shadow);
  overflow-x: auto;
}

a {
  text-decoration: none;
  color: var(--normal-text-color);
}

th, tr {
  font-size: 10pt;
}

.colCon {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: auto;
  justify-content: space-between;
  overflow: visible;
  align-content: flex-start;
  margin: -10px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.contentCol {
  order: 1;
  flex: auto;
  overflow-x: auto;
  overflow: visible;
  flex-grow: 1;
}

.secondCol {
  order: 2;
  flex: auto;
  flex-grow: 2;
}

.thirdCol {
	order: 3;
  flex: auto;
	flex-grow: 1;
}

.matchContainer {
  max-width: 900px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-bottom: 40px;
}

.resulttable {
  width: 100%;
  table-layout: fixed;
  border: none;
  word-wrap: break-word;
  vertical-align: middle;
}

#teamstatstable {
  table-layout: fixed;
  padding-right: 20px;
}

.resulttable td {
  border: none;
}

#divStatsTable{
  overflow: visible;
}

#statsTable{
  padding-right: 5px;
  padding-left: 5px;
}

.dataTable{
  width: 100%;
}

.dataTable tr:nth-child(odd){
  background-color: var(--table-odd-row-color);
}

.dataTable tr:nth-child(even){
  background-color: var(--table-even-row-color);
}

.dataTable tr:nth-child(even) td {
  background-color: var(--table-even-row-color);
}

.dataTable tr:nth-child(odd) td {
  background-color: var(--table-odd-row-color);
}

#footer-wrapper {
  margin-bottom: 10px;
}

#result {
  font-size: 2.5em;
}

#tournamentdate {
  color: var(--header-color);
}

#footer-text {
  max-width: 900px;
  margin: auto;
  vertical-align: middle;
  color: var(--footer-color);
  padding-left: 10px;
  padding-right: 10px;
}

#footer-text hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px dashed var(--footer-dashed);
  margin: 1em 0;
  margin-top: 30px;
  padding: 0;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 900px;
  margin: auto;
}

th {
  background-color: var(--table-even-row-color);
  vertical-align: middle;
}

.footerTable td {
  border: none;
  padding: 5px;
  font-size: 32px;
}

.footerTable td svg {
  color: var(--footer-color);
}

.footerTable td svg:hover {
  color: var(--footer-hover);
}

#nav-div {
  background: var(--button-bg);
  box-shadow: var(--shadow);
  border-bottom: 1px solid var(--button-border);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9998;
}

.threeColCon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: auto;
  justify-content: space-between;
}

.nav-contents {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

#nav-item {
  border: 0px;
  background-color: var(--button-bg);
  font-size: 12pt;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--button-border);
  height: 51px;
  line-height: 54px;
  vertical-align: middle;
  color: var(--normal-text-color);
  cursor: pointer;
}

.linebreak {
  display: none;
  flex: 0 0 100%;
  border-top: 1px solid var(--button-border);
}

.hamburger {
  display: none;
  cursor: pointer;
}

#nav-logo {
  background-color: var(--logo-button-bg);
  overflow: hidden;
  height: 51px;
}

#nav-logo img {
  padding: 5px;
}

body {
  background-color: var(--bg-color);
  height: 100%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table tr td a {
  vertical-align: middle;
}

table tr td {
  vertical-align: middle;
}

.torneo {
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.torneologo {
  padding-left: 5px;
  justify-content: center;
}

#coltorneo {
  width: 150px;
}

#home {
  justify-content: flex-end;
}

.flexTableDiv {
  margin: 10px;
}

.matchesContainer {
  margin: 10px;
}

.bigClubLogo {
  height: 128px;
}

@media only screen and (max-width: 390px) {
  #header {
    display: none;
  }

  #playerContainer {
    margin-top: 50px;
  }

  .matchesContainer {
    margin: 0;
    margin-top: -20px;
  }

  .rankingChildDev {
    width: 100%;
  }

  #divstatstable{
    width: calc(100vw - 10px);
  }

  #fullteamname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #nav-logo {
    display: table-cell;
  }
  
  .bigClubLogo {
    height: 96px;
  }

  .colCon {
    margin: 0;
  }

  .content {
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .matchContainer {
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .torneo {
    display: none;
  }

  .torneologo {
    justify-content: center;
    padding: 0;
  }

  #coltorneo {
    width: 30px;
  }

  .linebreak {
    display: block;
  }

  .hamburger {
    display: block;
  }

  #nav-item {
    flex: 1 0 auto;
  }

  #teamname {
    display: none;
  }

  #shortname{
    display: initial;
  }

  .content, .matchContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .flexTableDiv {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 391px) and (max-width: 550px) {
  #header {
    display: none;
  }

  #fullteamname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #teamname {
    display: none;
  }

  #shortname {
    display: block;
  }

  #nav-logo {
    display: table-cell;
  }
  
  .bigClubLogo {
    height: 96px;
  }

  .content {
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .matchContainer {
    margin-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .torneo {
    display: none;
  }

  .torneologo {
    justify-content: center;
    padding: 0;
  }

  .content, .matchContainer {
    margin-left: 5px;
    margin-right: 5px;
  }

  #coltorneo {
    width: 30px;
  }

  .linebreak {
    display: block;
  }

  .hamburger {
    display: block;
  }

  #nav-item {
    flex: 1 0 auto;
  }

  .matchesContainer {
    margin-top: -10px;
  }
}

.profilepicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.profilepicture img {
  box-shadow: var(--shadow);
  border-radius: 5px;
  border: 1px solid var(--button-border);
  width: 150px;
  height: 150px;
}

.stat {
  padding: 5px;
  width: 64px;
  margin-bottom: 20px;
}

.label {
  color: var(--header-color);
  font-size: .75em;
}

.value {
  font-size: 1.5em;
  color: var(--normal-text-color);
}

.playername {
  display: 'inline-flex';
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--normal-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
}

.playersummary {
  color: var(--header-color);
}

svg {
  width: 240px
}

.position {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  padding-right: 10px;
  padding-left: 10px;
  font-size: .75em;
  border: 1px solid var(--table-border-color);
  color: white;
  border-radius: 5px;
  height: 20px;
  font-weight: bold;
  margin-top: 10px;
  width: min-content;
}

#pelota {
  filter: var(--pelota-filter);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
}

.pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}